/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: url('../img/light_noise_diagonal.png');
}
.main-wrapper {
    background: #f0f0f0;
    overflow: hidden;
    box-shadow: 0 0 5px #999;
}
.content {
    margin-left: 0;
}
.page {
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: -30px;
    border-left: 1px solid #ddd;
}
.page-title {
    font-size: 1.8em;
    margin-top: 0;
}
.page h1 {
    font-size: 1.8em;
}
.page h2 {
    font-size: 1.4em;
}

/* HEADER */

header {
    background: #333;
}
.logo {
    margin: 1em 0;
}
.car-logos {
    margin: .5em 0;
}
.info-menu {
    margin-right: -30px;
    background: -webkit-linear-gradient(left, rgba(153,149,81,0), rgba(153,149,81,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(153,149,81,0), rgba(153,149,81,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(153,149,81,0), rgba(153,149,81,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(153,149,81,0), rgba(153,149,81,1)); /* Standard syntax */
}
    .info-menu ul {
        list-style: none;
        text-align: right;
        padding-right: 30px;
    }
        .info-menu li {
            display: inline-block;
            padding: .3em .5em;
        }
            .info-menu li a {
                color: #e0e0e0;
                font-weight: bold;
            }
                .info-menu li a:hover {
                    color: #fff;
                }

/* MAIN MENU */

.main-menu ul {
    list-style: none;
    margin: 0;
}
    .main-menu ul li {
        display: inline-block;
        width: 100%;
        border-top: 1px solid #999;
    }
        .main-menu ul a {
            display: inline-block;
            width: 100%;
            padding: .5em 1em;
            color: #e0e0e0;
            background: #333;
        }
            .main-menu ul a:hover {
                background: #444;
                color: #fff;
            }

    .main-menu .strong {
        font-weight: bold;
    }
    .main-menu .text-red {
        color: #ED4B4B;
    }
    .main-menu .active {
        /*border-left: 5px solid #E91111;*/
        border-left: 5px solid #E9C516;
        background: #444;
    }

.mobile-menu {
    display: none;
    border-top: 1px solid #ddd;
}

/* CAR LIST */

.car-list .car-list-item {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}
    .car-list .car-list-item:hover{
        background: #eaeaea;
    }
    .car-list .car-list-item:last-child{
        border: none;
    }
    .car-list .car-image {
        /*padding-right: 0;*/
    }
        .car-list .car-image img {
            width: 100%;
            border: 4px solid #fefefe;
            border-radius: 2px;
            outline: 1px solid #ddd;
        }
    .car-list .car-title {
        margin-top: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.4em;

    }
        .car-list .car-title a {
            color: #333;
        }
            .car-list .car-title a:hover {
                color: #000;
            }
    .car-list .car-description {
        font-size: .9em;
        line-height: 1.2em;
    }
    .car-list .car-info {
        /*padding-left: 0;*/
    }
        .car-list .car-info table {
            width: 100%;
            margin-bottom: .2em;
        }
        .car-list .car-info tr td {
            padding: .4em .5em;
            font-size: .8em;
            background: #fafafa;
        }
        .car-list .car-info tr td:first-child {
            font-weight: bold;
        }
    .car-list .car-price {
        position: relative;
        height: 42px;
        text-align: right;
        font-size: 1em;
        background: #FFF;
        font-weight: bold;
    }
        .car-list .car-price > span {
            display: inline-block;
            height: 100%;
            width: 100%;
            padding-right: 47px;
            text-align: center;
            line-height: 42px;
            border: 1px solid #E9C516;
        }
        .car-list .car-price .button {
            position: absolute;
            right: 0;
            top: 0;
            margin-bottom: 0;
            padding: 1em 1.5em;
            /*background: #E91111;*/
            background: #E9C516;
        }
            .car-list .car-price .button:hover {
                /*background: #9A0505;*/
                background: #D2B214;
            }

.car-grid ul {
    margin-top: 1em;
}
    .car-grid .item-wrapper {
        background: #fefefe;
        padding-bottom: 1px;
        outline: 1px solid #ddd;
    }
    .car-grid .car-title {
        padding: .2em 4px .2em;
        margin: 0;
        font-size: 1.2em;
    }
    .car-grid .car-image {
        position: relative;
    }
    .car-grid .car-image img {
        width: 100%;
        border: 4px solid #fefefe;
        border-radius: 2px;
    }
.car-grid .car-price {
    position: relative;
    margin: 4px;
    height: 42px;
    text-align: right;
    font-size: 1em;
    background: #FFF;
    font-weight: bold;
}
    .car-grid .car-price > span {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding-right: 47px;
        text-align: center;
        line-height: 42px;
        border: 1px solid #E9C516;
    }
        .car-grid .car-price .button {
            position: absolute;
            right: 0;
            top: 0;
            margin-bottom: 0;
            padding: 1em 1.5em;
            /*background: #E91111;*/
            background: #E9C516;
        }
            .car-grid .car-price .button:hover {
                /*background: #9A0505;*/
                background: #D2B214;
            }

.sorter {
    background: #ddd;
    padding: .5em 1em;
}
    .sorter a {
        color: #757575;
        font-size: .95em;
    }
        .sorter a:hover {
            color: #333;
        }
        .sorter a.asc,
        .sorter a.desc {
            color: #111;
        }

.car-view-buttons {
    display: inline-block;
    margin-left: 1em;
}
    .car-view-buttons a {
        display: inline-block;
        font-size: 1em;
    }
    .car-view-buttons a.active {
        color: #111;
    }

/* ONE CAR */

.one-car .car-title {
    font-size: 1.8em;
    margin: 0 0 .5em;
}
.one-car .car-info {
    width: 100%;
    margin-bottom: .5em;
}
    .one-car .car-info tr td {
        padding: .5em;
    }
    .one-car .car-info tr td:first-child {
        font-weight: bold;
    }
.one-car .car-price {
    margin-bottom: .5em;
    padding: .5em 0;
    text-align: center;
    font-size: 1.3em;
    border: 1px solid #E9C516;
    background: #FFF;
    font-weight: bold;
}
.one-car .car-slider {
    margin: 0;
}
    .one-car .car-slider img {
        width: 100%;
    }
.one-car .car-description {
    padding-top: .5em;
    margin-bottom: 1em;
    line-height: 1.3em;
}
.social-buttons {
    margin: 1em 0;
}
    .social-buttons li {
        width: 50%;
    }
    .social-buttons .button {
        width: 100%;
        padding: .5em 1em;
    }
        .social-buttons .button.facebook {
            background: rgba(59,89,152, 0.8);
        }
            .social-buttons .button.facebook:hover {
                background: rgba(59,89,152, 1);
            }
        .social-buttons .button.twitter {
           background: rgba(42,169,225, 0.8);
        }
            .social-buttons .button.twitter:hover {
                background: rgba(42,169,225, 1);
            }

.admin-buttons {
    position: absolute;
    z-index: 1000;
}
    .admin-buttons .button-group {
        margin-top: 0;
    }
.car-list .admin-buttons {
    right: 4px;
    top: 4px;
}
.car-grid .admin-buttons {
    right: 4px;
    top: 4px;
}
.one-car .admin-buttons {
    right: 1rem;
    top: 0;
}
    .car-list .admin-buttons .button,
    .car-grid .admin-buttons .button {
        padding: .5em;
        font-size: 1em;
    }
    .one-car .admin-buttons .button {
        padding: .5em .7em;
        font-size: 1em;
    }

/* UI ELEMENTS */

.promo-label-wrapper {
    position: absolute;
    z-index: 333;
}
.car-list .promo-label-wrapper {
    left: 19px;
    top: 4px;
}
.car-grid .promo-label-wrapper {
    left: 4px;
    top: 4px;
}
.one-car .promo-label-wrapper {
    left: 20px;
    top: 5px;
    font-size: 1.2em;
}
    .promo-label {
        display: inline-block;
        padding: .5em;
        margin: 0;
        color: #fff;
    }
        .promo-label.akcija {
            background: #ED4B4B;
        }
        .promo-label.dolazak {
            background: #3a945b;
        }

/* POPUP */

.show-popup {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.car-list .show-popup .popup-hint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    transition: background-color 300ms ease-out 0s;
    z-index: 999;
    border: 4px solid #fefefe;
}

.car-list .show-popup .popup-hint span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    font-size: 3em;
    color: #fff;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

    .car-list .show-popup:hover .popup-hint {
        display: block;
    }
.mfp-wrap button {
    transition: none;
}
    .mfp-wrap button:hover,
    .mfp-wrap button:focus,
    .mfp-wrap button:active {
        background: none;
    }

/* FORM */

fieldset legend {
    background: none;
    font-weight: normal;
}

.form-note {
    color: #666;
    font-size: .9em;
}
.field-note {
    display: inline-block;
    margin-top: -2em;
    margin-bottom: .5em;
    color: #999;
    font-size: .8em;
    font-style: italic;

}
.form-buttons {
    margin-top: 1em;
}
    .form-buttons .button {
        padding: 1em 1.2em;
    }

/* BANNERS */

.promo-area {
    display: none;
    margin-top: 1em;
}
.banner {
    margin-bottom: 1px;
}
    .banner img {
        width: 100%;
    }

.app-links {
    margin: 1em 0;
}
    .android-app {
        display: inline-block;
        width: 100%;
        padding: .5em 1em;
        color: #333;
        background: #f6f6f6;
        line-height: 3em;
        vertical-align: middle;
    }
        .android-app:hover {
            color: #111;
            background: #fff;
        }
        .android-app span {
            margin-right: .2em;
            font-size: 2.5em;
            color: #A5C63B;
            vertical-align: top;
        }
        .android-app-qr {
            display: none;
            border: 30px solid #f6f6f6;
            border-top-width: 5px;
            border-bottom-width: 10px;
        }

/* FOOTER */

footer {

}
.copyright {
    padding: 1em 0;
    color: #666;
    font-size: .8em;
    line-height: 1.3em;
    text-align: center;
    border-top: 1px solid #ddd;
}
    .copyright a {
        color: #444;
    }
        .copyright a:hover {
            color: #333;
        }

/* ADMIN NAVIGATION */

.admin-navigation {
    border-bottom: 1px solid #ddd;
    height: 46px;
}

.car-sorting .grid-view {
    padding: .5em;
    background: #fff;
    border: none;
}
.car-sorting .items {
    border: none;
}
.car-sorting .grid-view .items td {
    padding: .7em 1em;
    cursor: pointer;
}
    .car-sorting .ui-sortable-helper {
        border: 1px solid #ddd;
    }
    .car-sorting .ui-sortable-placeholder {
        display: block;
        border: 1px dashed #bbb;
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/*Small screens */
@media only screen { }
/* Define mobile styles */
@media only screen and (max-width: 40em) {

    .content {
        padding-left: 15px;
    }
    .page {
        margin-left: 0;
    }

    .car-list .car-title {
        margin-top: .5em;
    }
    .car-list .car-description {
        margin-bottom: 1em;
    }
    .car-list .admin-buttons {
        right: 19px;
    }

    .one-car .car-title {
        font-size: 1.3em;
    }
    .one-car .car-description p {
        font-size: .95em;
        line-height: 1.4em;
    }

}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*Medium screens */
@media only screen and (min-width: 40.063em) {
    .car-list .car-image {
        padding-right: 0;
    }
}
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 62.44em) {

    .content {
        padding-left: 15px;
    }
    .page {
        margin-left: 0;
    }

    .car-list .car-description {
        margin-bottom: 1em;
    }
    .car-list .car-list-item {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*Large screens */
@media only screen and (min-width: 62.5em) {
    .car-list .car-info {
        padding-left: 0;
    }

    .promo-area {
        display: block;
    }

    .toggle-mobile-menu {
        display: none!important;
    }
    .mobile-menu {
        display: block!important;
    }

    .android-app-qr {
        display: block;
    }
}
/* min-width 1000px, large screens */
@media only screen and (min-width: 62.5em) and (max-width: 90em) { }
/* min-width 1000px and max-width 1440px, use when QAing large screen-only issues */

/*XLarge screens */
@media only screen and (min-width: 90.063em) { }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*XXLarge screens */
@media only screen and (min-width: 120.063em) { }
/* min-width 1921px, xxlarge screens */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
